---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello There!!</h1>
			<p>
				I'm Afthab, a CSE grad from NITC who loves FOSS and Anime. I made this site to write about random thoughts that I think deserve 
				to be written somewhere on the internet, as well as tutorials which I think will help some people out. 
			</p>
			<p>
				I'm a hardcore FOSS evangelist, and try my best to use and suggest FOSS alternatives for everything. Some of the posts that 
				I wrote when I was in NITC can be found in our club's <a href="https://newsletter.fosscell.org">blog website</a>. If you want to
				know more about our club, FOSSCell NITC, checkout our <a href="https://fosscell.org">club website</a>.
			</p>
			<p>
				If you're interested in my projects check out my <a href="https://github.com/AfthabEK">GitHub Profile</a>.
				
			</p>

		</main>
		<Footer />
	</body>
</html>
